

.poster {
  width: 25%;
  height: auto;
}

.charPicture {
  width: 10%;
  height: auto;
}

#btnloadMore {
  padding: 0.5rem 1rem 0.5rem 1rem;
  color: black;
  border-radius: 10px;
}

ol {
  margin: 2rem;
}

li {
  margin-top: 1rem;
}